/* Oasis Infobyte
Level1 - Task3
     By
Pradip Dound */



body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
  
  }
  
  .container {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 50px grey;
    position:absolute;
    left: 35vw;
    top: 20vh;
    
  }
  
  .input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
  }
  
  button:hover {
    opacity: 0.8;
  }
.input{
  width: 20vw;
}


  